services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: cooper
    ports:
      - "3001:3001"
    restart: always
  nginx:
    image: nginx:latest
    container_name: nginx-proxy
    restart: always
    depends_on:
      - frontend
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - ./nginx/logs:/var/log/nginx